<%- include('../template/head')-%>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">


            <div>
                <h1>Requested Books</h1>
                <table>
                  <thead>
                    <tr>
                      <th>Request Id</th>
                      <th>Book Id</th>
                      <th>User Id</th>
                      <th>State</th>
                      <th>Requested At</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%approveRequest.forEach(function(entry) {%>
                    <tr>
                      <td><%=entry.requestId%></td>
                      <td><%=entry.bookId%></td>
                      <td><%=entry.userId%></td>
                      <td><%=entry.state%></td>
                      <td><%=entry.createdAt%></td>
                    </tr>
                    <%});%>
                  </tbody>
                </table>
              </div>

            <div>
                <h1>Issued Books</h1>
                <table>
                  <thead>
                    <tr>
                      <th>Request Id</th>
                      <th>Book Id</th>
                      <th>User Id</th>
                      <th>State</th>
                      <th>Issued At</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%issued.forEach(function(entry) {%>
                    <tr>
                      <td><%=entry.requestId%></td>
                      <td><%=entry.bookId%></td>
                      <td><%=entry.userId%></td>
                      <td><%=entry.state%></td>
                      <td><%=entry.updatedAt%></td>
                      <form action="http://localhost:5000/returnBook" method="POST">
                        <td>
                          <button id=1
                            > Return
                          </button>
                          <input type="hidden" name="bookId" id="bookId" value=<%=entry.bookId%> >
                          <input type="hidden" name="userId" id="userId" value=<%=entry.userId%> >
                        </td>
                      </form>
                    </tr>
                    <%});%>
                  </tbody>
                </table>
              </div> 
              
              <div>
                <h1>Returned  Books</h1>
                <table>
                  <thead>
                    <tr>
                      <th>Request Id</th>
                      <th>Book Id</th>
                      <th>User Id</th>
                      <th>State</th>
                      <th>Returned At</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%returnRequest.forEach(function(entry) {%>
                    <tr>
                      <td><%=entry.requestId%></td>
                      <td><%=entry.bookId%></td>
                      <td><%=entry.userId%></td>
                      <td><%=entry.state%></td>
                      <td><%=entry.updatedAt%></td>
                    </tr>
                    <%});%>
                  </tbody>
                </table>
              </div>         

        </main>
    </div>
</body>
<script>
    window.onload = function() {
        document.getElementById('home').classList.add('active');
      };
</script>
</html>