<%- include('../template/head')-%>

    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main role="main" class="inner cover">
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Book Id</th>
                                <th>Title</th>
                                <!-- <th>Total Quantity</th> -->
                                <th>Available Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%books.forEach(function(entry) {%>
                                <tr>
                                    <td>
                                        <%=entry.bookId%>
                                    </td>
                                    <td>
                                        <%=entry.title%>
                                    </td>
                                    <!-- <td><%=entry.totalQuantity%></td> -->
                                    <td>
                                        <%=entry.available%>
                                    </td>
                                    <form method="POST" action="http://localhost:5000/requestBook">
                                        <td>
                                            <input name="bookId" type="hidden" value=<%=entry.bookId%> />
                                            <button id=<%=entry.title%> > Request Book
                                            </button>

                                        </td>
                                    </form>
                                </tr>
                                <%});%>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </body>
    <script>
        window.onload = function () {
            document.getElementById('home').classList.add('active');
        };
    </script>

    </html>