<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>LibraryApp</title>
    <meta name="theme-color" content="#563d7c" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        .bg-image-vertical {
            position: relative;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: right center;
            background-size: auto 100%;
        }

        @media (min-width: 1025px) {
            .h-custom-2 {
                height: 100%;
            }
        }
    </style>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <!-- <link href="/cover.css" rel="stylesheet" /> -->
</head>

<body>
    <!-- Navbar-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid justify-content-between">
                <!-- Left elements -->
                <div class="d-flex">
                    <!-- Brand -->
                    <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
                        <img src="logo.svg" height="20" alt="MDB Logo" loading="lazy" style="margin-top: 2px" />
                    </a>
                </div>
                <!-- Left elements -->

                <!-- Center elements -->
                <ul class="navbar-nav flex-row d-none d-md-flex">
                    <li class="nav-item me-3 me-lg-1 active">
                        <a class="nav-link" href="/userHome">
                            <span>Browse Books</span>
                        </a>
                    </li>

                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link" href="/userRequests">
                            <span>Requested Books</span>
                        </a>
                    </li>

                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link" href="/userRequests">
                            <span>Issued Books</span>
                        </a>
                    </li>

                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link" href="/userRequests">
                            <span>Returned Books</span>
                        </a>
                    </li>
                </ul>
                <!-- Center elements -->

                <!-- Right elements -->
                <ul class="navbar-nav flex-row">
                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link d-sm-flex align-items-sm-center" href="#">
                            <strong class="d-none d-sm-block ms-1">Hi <%=username%>(<%=client%>)</strong>
                        </a>
                    </li>

                    <form action="http://localhost:5000/logout" method="POST">
                        <input>
                        <button type="submit" class="btn btn-default btn-outline-dark">
                            Log out
                        </button>
                    </form>
                </ul>
                <!-- Right elements -->
            </div>
        </nav>
    </header>
    <!-- Navbar -->

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <div class="container">
                <% if(message.length>0){ %>
                  <div class="alert alert-primary alert-dismissible">
                    <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>
                      <%= message%>
                    </strong>
                  </div>
                  <% } %>
              </div>
            <div>
                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; text-align: center;">
                    Browse Available Books in the Library
                </h5>
                <table class="table table-hover ">

                    <thead>
                        <tr>
                            <th>Book Id</th>
                            <th>Title</th>
                            <!-- <th>Total Quantity</th> -->
                            <th>Available Quantity</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%books.forEach(function(entry) {%>
                            <tr>
                                <td>
                                    <%=entry.bookId%>
                                </td>
                                <td>
                                    <%=entry.title%>
                                </td>
                                <!-- <td><%=entry.totalQuantity%></td> -->
                                <td>
                                    <%=entry.available%>
                                </td>
                                <form method="POST" action="http://localhost:5000/requestBook">
                                    <td>
                                        <input name="bookId" type="hidden" value=<%=entry.bookId%> />

                                        <button id=<%=entry.title%>> Request Book</button>
                                    </td>
                                </form>
                            </tr>
                            <%});%>
                    </tbody>
                </table>

            </div>
            <div  style="text-align: center;">
                <form method="POST" action="http://localhost:5000/requestAdmin">
                    <input type="hidden" name="bookId" id="bookId" value= -1
                    >
                    <button class="btn btn-outline-success btn-lg">
                        Request For Admin Privileges
                    </button>
                </form>
            </div>
        </main>
    </div>
</body>
<script>
    window.onload = function () {
        document.getElementById("home").classList.add("active");
    };
</script>

</html>