<div>
  <table>
    <thead>
      <tr>
        <th>Book Id</th>
        <th>Title</th>
        <!-- <th>Total Quantity</th> -->
        <th>Available Quantity</th>
      </tr>
    </thead>
    <tbody>
      <%books.forEach(function(entry) {%>
      <tr>
        <td><%=entry.bookId%></td>
        <td><%=entry.title%></td>
        <!-- <td><%=entry.totalQuantity%></td> -->
        <td><%=entry.available%></td>
        <form method="">
          <td>
            <button id=<%=entry.title%>
              onclick='myfunction(this)'> Delete
            </button>
          </td>
        </form>
      </tr>
      <%});%>
    </tbody>
  </table>
</div>